@font-face {
    font-family: 'boris';
    src: url('https://cdn.glitch.global/ce297209-7650-4f8f-b609-b42e1370460c/Boris.woff?v=1655372557985');
         url('https://cdn.glitch.global/ce297209-7650-4f8f-b609-b42e1370460c/Boris.woff?v=1655372557985') format('woff'),
  }
  
  @font-face {
    font-family: 'gidolinya';
    src: url('https://cdn.glitch.global/ce297209-7650-4f8f-b609-b42e1370460c/Gidolinya-Regular.otf?v=1655374500851');
         url('https://cdn.glitch.global/ce297209-7650-4f8f-b609-b42e1370460c/Gidolinya-Regular.otf?v=1655374500851') format('otf'),
  }
  
  a:link{text-decoration:none; color: black;}
  /* a:hover{color:white; text-decoration:none;} */
  a:visited{text-decoration:none; color: black;}
  
  body{margin: 0 0 0 0;}
  
  table {
    border-collapse: collapse;
    width: 100vw; height: 100vh;
    table-layout: fixed;
  }
  
  .phone{display:none;}
    
  #name{
    font-family: 'boris', sans-serif;
    font-size: 32px;font-weight: normal; margin: 0;
  /*   outline-style: solid; outline-color: black; padding: 5px; */
    width: 23vw;  text-align: left; padding: 13px 0px 7px 35px;
  }
  
  .right{
    border: 1px solid; 
    padding-top: 15px; padding-bottom: 10px;
  }
  
  .gidole{
    font-family: 'gidolinya', sans-serif; font-size: 22px;
    border: 1px solid; font-weight: normal;
  }
  
  .gidole2{
    font-family: 'gidolinya', sans-serif; font-size: 22px;
    border: 1px solid; font-weight: normal;
    padding: 11px 0px 11px  35px; height: 2.5vh;
  }
  
  .bio{
    font-family: 'gidolinya', sans-serif; font-size: 17px;
    padding: 20px 30px 20px 35px;
  }
  
  .row1{height: 5vh;}
  .row2{height: 28vh;}
  
  .face{
    font-family: 'roboto', monospace;
    vertical-align: center; 
    padding: 0px 20px 0px 35px; border: 1px solid;
  }
  
  @keyframes spin {
      0% {
          transform:rotate(0deg);
      }
      100% {
          transform:rotate(360deg);
      }
  }
  
  .typeflower, .printflower, .webflower, .fibreflower{
    display: inline-block;
    animation-name: spin;
    animation-duration: 5800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
.gradient{overflow: hidden; border: 1px solid}
#desktopframe{overflow: hidden;border-style:none;display:inline-block;height:92vh;width:77vw;
    transform: scale(1.05, 1.15);
}
  
  canvas{
    display: inline-block;
    width: 100%;
    height: 80%;
    transform: scale(2);
  }
  
  @media only screen and (max-width: 860px) {
    .desktop{display: none;}
    .phone{display: table;}
    table{height: 90vh;}
    .phonetext{font-family: 'boris';font-size: 35px; margin: 0 0 0 0; text-align: center; padding: 15px 0 0 0; background: -webkit-linear-gradient(right, #0E9AFF, #30B900, #FF6FF9, #FFCA0E); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
    #phonename{background-color:black; text-align:center;}
    .gidole{font-size: 19px; height:  3vh;}
    .bio{border: 1px solid; padding: 25px 30px 25px 35px; font-size: 19px;}
    #iglogo{display:block; width: 6vw; margin-left:auto;margin-right:auto; } #igbutton{border: 1px solid; }
    #email{text-align: center;}
    
  .gidole2{
    font-family: 'gidolinya', sans-serif; font-size: 22px;
    border: 1px solid; font-weight: normal;
    padding: 15px 0px 15px  35px; height: 4vh;
  }
  
    .row1{height: 6vh;}
    .row2{height: 30vh;}
    .row3{height: 8vh; font-family: 'gidolinya', sans-serif; font-size: 22px;
    border: 1px solid; font-weight: normal;}
  }